p { 
	
	}

h3 { 
	font-family: $secondary-font;
    font-weight: bold;
	color: $blue-green;
    font-size: 1.5em;
   	}

a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: $gold;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: $lime;
	}
a:hover, a:focus, a:active { 
	text-decoration: none; 
	color: $lime;
	}
abbr {
	border-bottom: none;
	}

