html {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body { 
  font: 75% $primary-font;
  line-height: 1.88889;
  margin: 0;
  padding: 0;
  color: $black; 
  background-color: $sand;
  @include borderline(3px);
}
