p { 
  margin: 0;
  text-align: justify;
}

h1, h2, h3, h4, h5  {
  padding: 0;
  margin: 0;
}

h3 { 
  font: bold 1.7em $secondary-font;
  color: $teal;
}

a:link { 
  font-weight: bold; 
  text-decoration: none; 
  color: $gold;
}

a:visited { 
  font-weight: bold; 
  text-decoration: none; 
  color: $lime;
}

a:hover, a:focus, a:active { 
  text-decoration: none; 
  color: $lime;
}

abbr {
  border-bottom: none;
}

