

.extra2 {
  height: 30vh;
  width: 100%;
  //background-color: $background-color;
  margin-top: -180px;
  background: url(Images/Cactibg.svg) no-repeat;
  background-position-x: center;
  background-position-y: bottom;
	position:absolute;
  z-index: 2;
}

@media screen and (min-width:$media-width) {
	.extra2 {
 width: 100%; 
 height: 63vh;
 // background-color: $background-color;
  margin-top: -260px;
  background: url(Images/Cactibg.svg) no-repeat;
  background-position-x: center;
  background-position-y: bottom;
position:absolute;
z-index: 100;
		//border: 1px solid red;

		
}

}