footer { 
  text-align: center;
  height: 50px;
  // @include borderline();

  a {
    background-color: $white;
    padding: 25px;
    margin: 2px;
    line-height: 0;
    font-size: 0;
    // border: 2px solid deeppink;
    border-radius: 100%;
  }

  a:link, footer a:visited { 
    min-width: 50px;
    min-height: 50px;
    text-indent: -9999px;
  }
}