header {
  background-color: transparent;
  text-align: center;
}

header h1 { 
  display: block;
  font: 30% $secondary-font;
  font-size: 2em;
  color: $dark-teal;
}

header h2 {
  font-style: italic;
}