.page-wrapper {
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr, 1fr, 1fr;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 3px solid $red;
    margin: 2em;
    padding: 2em;
    min-width: 300px;
}

@media screen and (min-width:$media-width) {
  .page-wrapper {
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 1fr 2fr 2fr 1fr 1fr;
    flex-direction: row;
  }
}