.page-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    border: 3px solid $red;
    margin: 1.5em;
    padding: 1.5em;
    min-width: 300px;
    // @include borderline(2px);
}

@media screen and (min-width:$media-width) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr 1fr;
  }
}