.preamble {
    border: 2px solid green;
    background-color: $white;
    background-image: url(images/tamales1.svg);
    background-repeat: no-repeat;
    background-size: 170px;
    background-position: top;
    padding: 1em;
    margin: 1em;
    }
