.requirements {
  @include regions("rice-01.svg", 1.1em, 300, 4.5);
}

p[role="contentinfo"] {
  background-color: $sand;
  text-decoration: none;
  color: $teal;
  font-size: 1.2rem;
  text-align: center;
  a:link, a:active, a:visited {
    color: $teal;
  }
}