.sidebar {
  grid-row: 3 / 4;
  @include borderline(2px);
  background-color: $white;
  padding: 1em;

  h3.resources { 
    line-height: 0;
    font-size: 0;
  }

  .zen-resources {
    @include borderline();
  }
}

.sidebar .wrapper { 

}

.sidebar h3.select { 

}

.sidebar h3.archives { 

}
