.sidebar {
  // grid-row: 3 / 4;
  background-color: $lime;
  padding: 1em;

  h3.resources { 
    line-height: 0;
    font-size: 0;
  }

  .zen-resources {
   background-color: $teal; 
    color: $teal;
	  text-align: center;
	  padding: 10px;

    & > li a:link  {
      $color: $white;
    }
  }

}

.sidebar .wrapper {
  // text-align:center;
  margin-left: 0px;
}


@media screen and (min-width:$media-width) {
  .sidebar .wrapper { 
 width: 300px;
//height: 800px;
  }
	.sidebar{
		height: 800px;
	}
}