// .sidebar ul {
// }
.sidebar li {

    list-style-type: none;
}

.sidebar li a:link {
    color: $red;

}

.sidebar li a:hover {
    color: $white;

}

.sidebar li a:visited {
    color: $brown;
}

.sidebar h3 {
    color: $brown;
    //    font-family: $secondary-font;
    font-weight: normal;
    font-size: 1.3em;

}


a:link {
    color: $dark-teal;
}

a:visited {
    color: $brown;
}


