// .sidebar ul {

// }

.sidebar li {
  list-style-type: none;

  a:link {
    color: $red;
  }

  a:hover {
    color: $white;
  }

  a:visited {
    color: $brown;
  }
}

.sidebar h3 {
  color: $brown;
  font-weight: normal;
  font-size: 1.3em;
}

@media screen and (min-width:$media-width) {

}