.summary {
  padding: 1em;
  background-color: $yellow;
}

.summary p {
  font-size: 16px;
  text-align: center;
}

.summary p:nth-child(2) {
  font-size: 1.7rem;
}

@media screen and (min-width: $media-width) {

}