.summary {
  padding: 1em;
  background-color: $yellow;
}

.summary p {
  text-align: center;

  &:nth-child(1) {
    font-size: 1.2rem;
    margin-top: -15px;
    padding: 10px;
  }

  &:nth-child(2) {
    font-size: 1.0rem;
    font-weight: 900;
    padding: 25px 0; 
    a { //targets the a links for html file & css file
      color: $dark-teal;
      display: inline-block;//display inline-block to get html and css next to each other
      padding-top: 10px;

      &::before {
        content: "\A";
        background: url(Images/Avocado.svg) center no-repeat;
        display: block;//display block so avocados stack properly
        height: 75px;//give pseudo element images a height
        width: 56px;
        background-size: 75px;//give pseudo element images a background size
        white-space: pre-line;
      }
    }
  }
}

@media screen and (min-width: $media-width) {
  .summary p {
  
    &:nth-child(1) {
      font-size: 1.4rem;
      margin-top: -15px;
      padding: 10px;
    }

    &:nth-child(2) {
      font-size: 1.2rem;
    }
  }
}