.summary {
    padding: 1em;
    background-color: $yellow; // @include borderline(2px);
	
}

.summary p {
    font-size: 16px;
    text-align: center;
	color:$dark-teal;
	
	&:nth-child(1) {
        font-size: 1.5rem;
		margin-top: -15px;
		padding: 10px;
    }

    &:nth-child(2) {
        font-size: 1.2rem;
        font-weight: 900;
        padding: 20px 50px; 
		
        a { //targets the a links for html file & css file
            color: $dark-teal;
            display: inline-block;//display inline-block to get html and css next to each other
             padding-top: 10px;
			

            &::before {
                content: "";
                background: url(Images/avocado-01.svg) center no-repeat;
                display: block;//display block so avocados stack properly
                height: 75px;//give pseudo element images a height
                background-size: 85px;//give pseudo element images a background size
               
            }
        }
    }
}

@media screen and (min-width: $media-width) {
    .summary {
        grid-column: 2 / 4;
    }
}