.supporting {
    // grid-row: 2 / 3;
}

.explanation {
    @include regions("Tamales.svg", 220, 5.5, 290, 5.5);
}

.participation {
    @include regions("Fajitaswdrink.svg", 200, 4.8, 260, 5.9);
}

.benefits {
    @include regions("Quesadillas.svg", 200, 4.5, 300, 4.5);
    position: static;
}

@media screen and (min-width:$media-width) {
    .supporting {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .explanation {
            width: 90%;
            margin-top: -15px;
        }

        .requirements, .participation  {
            width: 90%;
            margin-top: -25px;
        }

        .benefits,
            {
            width: 17%; //sets width of columns on desktop
            display: inline-block;
            position: absolute;
            right: 50px;
            top: 792px;
        }
    }
}
