.supporting {
  // grid-row: 2 / 3;
}

.explanation {
  @include regions("Tamales.svg", 1.1em, 270, 5);
}

.participation {
  @include regions("Fajitaswdrink.svg", 1.1em, 250, 6);
}

.benefits {
  @include regions("Quesadillas.svg", 1.1em, 300, 4);
}

@media screen and (min-width:$media-width) {
  .supporting {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .explanation,
    .participation,
    .benefits,
    .requirements {
      width: 50%;
    }
  }
}