@import url('https://fonts.googleapis.com/css?family=Montserrat|Sigmar+One&display=swap');

// color palette - these colors will be the color swatches of the Colors section

$sand: #f6e5a9; // sand
$gold: #fec348; // gold
$lime: #c1db74; // lime green
$blue-green: #6cbc99; // blue green
$red: #ce2027; // red
$white: #ffffff; // white
$brown: #6f5940; //brown


// fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Sigmar One', cursive;

