@import url('https://fonts.googleapis.com/css?family=Montserrat|Sigmar+One&display=swap');

// Color Scheme

$sand: #f6e5a9; 
$yellow: #FBD659;
$gold: #fec348; 
$lime: #c1db74; 
$blue-green: #6cbc99; 
$red: #ce2027; 
$white: #ffffff; 
$brown: #6f5940; 
$black: #000;
$dark-teal: #204B4B;


// fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Sigmar One', cursive;

