@import url("https://fonts.googleapis.com/css?family=Montserrat|Sigmar+One&display=swap");
@font-face {
  font-family: "verdemoderna";
  src: url(Text/verdemoderna.woff) format("woff");
}
html {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font: 100% "Montserrat", sans-serif;
  line-height: 1.5;
  text-justify: none;
  margin: 0;
  padding: 0;
  color: #204b4b;
  background-color: #f6e5a9;
}
body abbr[title] {
  text-decoration: none;
}

@media screen and (min-width: 900px) {
  body {
    cursor: url("Images/ChipD.svg"), auto;
  }
}
p {
  margin: 0;
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

h3 {
  font: bold 2em "Sigmar One", cursive;
  color: #389c9c;
  font-weight: 100;
}

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #fec348;
}

a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #389c9c;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #389c9c;
  cursor: url("Images/ChipwSD.svg"), auto;
}

abbr {
  border-bottom: none;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  border-left: 3px solid #ce2027;
  border-right: 3px solid #ce2027;
  border-top: 3px solid #ce2027;
  margin: 1em;
  padding: 0.5em;
  min-width: 300px;
}

@media screen and (min-width: 900px) {
  .page-wrapper {
    flex-direction: row;
    border: 10px solid;
    border-image-source: url(Images/Borderimage1.svg);
    border-image-repeat: round;
    border-image-slice: 500;
    border-image-width: 6;
    border-image-outset: 1;
    padding: 5em;
    margin: 2em;
  }
}
.intro {
  background-color: #f6e5a9;
  width: 100%;
}

.intro h1,
h2 {
  text-align: center;
}

header {
  background: url(Images/Star.svg) center no-repeat;
  background-color: #fbd659;
  background-size: 100%;
  background-position-x: center;
  background-position-y: top;
  text-align: center;
  align-items: center;
  height: 310px;
  padding-top: 15px;
}
header::before {
  background: url(Images/Mariachi.svg) center no-repeat;
  content: "";
  background-size: 117px;
  height: 180px;
  margin-left: 33px;
  animation-name: mariachi;
  animation-duration: 1.75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: block;
}
header h1 {
  font: 2.1em "Sigmar One", cursive;
  color: #204b4b;
  line-height: 1em;
  padding: 0;
  margin: 0px 30px;
  text-transform: uppercase;
}
header h2 {
  font-style: normal;
  font-size: 1.1em;
  text-transform: lowercase;
  color: #204b4b;
  padding-top: 0.5em;
}

@keyframes mariachi {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media screen and (min-width: 900px) {
  header {
    height: 500px;
    width: 450px;
  }
  header h1 {
    font-size: 2.6em;
  }
  header h2 {
    font-size: 1.2em;
    line-height: 1.1em;
  }
}
.summary {
  padding: 1em;
  background-color: #fbd659;
}

.summary p {
  font-size: 16px;
  text-align: center;
}
.summary p:nth-child(1) {
  font-size: 1.2rem;
}
.summary p:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 900;
  width: 260px;
  padding: 25px 0;
  margin: 0 auto;
}
.summary p:nth-child(2) a {
  color: #204b4b;
  display: inline-block;
  padding-top: 10px;
}
.summary p:nth-child(2) a::before {
  content: "\a";
  background: url(Images/Avocado.svg) center no-repeat;
  display: block;
  height: 75px;
  width: 56px;
  background-size: 75px;
  white-space: pre-line;
}

.preamble {
  padding: 1em;
  margin: 1em 0;
  background: url(Images/Taco.svg) no-repeat;
  background-size: 250px;
  background-position-x: center;
  background-position-y: 6.5em;
}
.preamble h3 {
  height: 11em;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.5em;
}
.preamble p {
  padding-bottom: 10px;
  font-size: 0.9em;
}
@media screen and (min-width: 900px) {
  .preamble {
    background-size: 310px;
    background-position-y: 8em;
  }
  .preamble h3 {
    height: 11em;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.9em;
  }
  .preamble p {
    padding-bottom: 10px;
    font-size: 1.2em;
  }
}

.explanation {
  padding: 1em;
  margin: 1em 0;
  background: url(Images/Tamales.svg) no-repeat;
  background-size: 220px;
  background-position-x: center;
  background-position-y: 5.5em;
}
.explanation h3 {
  height: 11em;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.5em;
}
.explanation p {
  padding-bottom: 10px;
  font-size: 0.9em;
}
@media screen and (min-width: 900px) {
  .explanation {
    background-size: 290px;
    background-position-y: 5.5em;
  }
  .explanation h3 {
    height: 11em;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.9em;
  }
  .explanation p {
    padding-bottom: 10px;
    font-size: 1.2em;
  }
}

.participation {
  padding: 1em;
  margin: 1em 0;
  background: url(Images/Fajitaswdrink.svg) no-repeat;
  background-size: 200px;
  background-position-x: center;
  background-position-y: 4.8em;
}
.participation h3 {
  height: 11em;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.5em;
}
.participation p {
  padding-bottom: 10px;
  font-size: 0.9em;
}
@media screen and (min-width: 900px) {
  .participation {
    background-size: 260px;
    background-position-y: 5.9em;
  }
  .participation h3 {
    height: 11em;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.9em;
  }
  .participation p {
    padding-bottom: 10px;
    font-size: 1.2em;
  }
}

.benefits {
  padding: 1em;
  margin: 1em 0;
  background: url(Images/Quesadillas.svg) no-repeat;
  background-size: 200px;
  background-position-x: center;
  background-position-y: 4.5em;
  position: static;
}
.benefits h3 {
  height: 11em;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.5em;
}
.benefits p {
  padding-bottom: 10px;
  font-size: 0.9em;
}
@media screen and (min-width: 900px) {
  .benefits {
    background-size: 300px;
    background-position-y: 4.5em;
  }
  .benefits h3 {
    height: 11em;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.9em;
  }
  .benefits p {
    padding-bottom: 10px;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 900px) {
  .supporting {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .supporting .explanation {
    width: 77%;
    margin-top: -15px;
  }
  .supporting .requirements, .supporting .participation {
    width: 77%;
    margin-top: -25px;
  }
  .supporting .benefits {
    width: 17%;
    display: inline-block;
    position: absolute;
    right: 80px;
    top: 920px;
  }
}
.requirements {
  padding: 1em;
  margin: 1em 0;
  background: url(Images/Rice.svg) no-repeat;
  background-size: 240px;
  background-position-x: center;
  background-position-y: 4em;
}
.requirements h3 {
  height: 11em;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.5em;
}
.requirements p {
  padding-bottom: 10px;
  font-size: 0.9em;
}
@media screen and (min-width: 900px) {
  .requirements {
    background-size: 310px;
    background-position-y: 5em;
  }
  .requirements h3 {
    height: 11em;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.9em;
  }
  .requirements p {
    padding-bottom: 10px;
    font-size: 1.2em;
  }
}

p[role=contentinfo] {
  text-decoration: none;
  color: #389c9c;
  font-size: 1.2rem;
  text-align: center;
}
p[role=contentinfo] a:link,
p[role=contentinfo] a:active,
p[role=contentinfo] a:visited {
  color: #389c9c;
}

footer {
  text-align: center;
  height: 50px;
}
footer a:link {
  padding: 20px;
  margin: 2px;
  line-height: 0;
  font-size: 0;
  display: inline-block;
  color: #204b4b;
}
footer a:before {
  display: block;
  position: absolute;
  overflow: hidden;
  font-size: 40px;
  text-indent: 0;
  font-family: "verdemoderna";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-top: -40px;
  margin-left: -20px;
  -webkit-font-smoothing: antialiased;
}
footer a:hover {
  color: #ce2027;
}
footer .zen-validate-html:before {
  content: "5";
}
footer .zen-validate-css:before {
  content: "3";
}
footer .zen-license:before {
  content: "c";
}
footer .zen-accessibility:before {
  content: "a";
}
footer .zen-github:before {
  content: "g";
}

@media screen and (min-width: 900px) {
  footer a:link {
    padding: 40px;
  }
  footer a:before {
    font-size: 70px;
  }
}
.sidebar li {
  list-style-type: none;
  margin-left: -30px;
  font-size: 0.9em;
  text-align: center;
}
.sidebar li a:link {
  color: #ffffff;
  font-weight: 100;
  line-height: 1.8;
}
.sidebar li a:hover {
  color: #ce2027;
}
.sidebar li a:visited {
  color: #204b4b;
}

.sidebar h3 {
  color: #204b4b;
  font-weight: 100;
  font-size: 1em;
  text-align: center;
}

.sidebar {
  background-color: #c1db74;
  padding: 1em;
}
.sidebar h3.resources {
  line-height: 0;
  font-size: 0;
}
.sidebar .zen-resources {
  background-color: #389c9c;
  color: #389c9c;
  text-align: center;
  padding: 10px;
}
.sidebar .wrapper {
  margin-left: 0px;
}

@media screen and (min-width: 900px) {
  .sidebar .wrapper {
    width: 280px;
  }

  .sidebar {
    height: 838px;
  }
}
.extra2 {
  height: 30vh;
  width: 100%;
  margin-top: -180px;
  background: url(Images/Cactibg.svg) no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  position: absolute;
  z-index: 2;
}

@media screen and (min-width: 900px) {
  .extra2 {
    width: 100%;
    height: 63vh;
    margin-top: -200px;
    background: url(Images/Cactibg.svg) no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    position: absolute;
    z-index: -1;
  }
}

/*# sourceMappingURL=style.css.map */
