@import url("https://fonts.googleapis.com/css?family=Montserrat|Sigmar+One&display=swap");
@font-face {
  font-family: "verdemoderna";
  src: url("images/verdemoderna.woff") format("woff");
}
html {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font: 75% "Montserrat", sans-serif;
  line-height: 1.88889;
  margin: 0;
  padding: 0;
  color: #204B4B;
  background-color: #f6e5a9;
}
body abbr[title] {
  text-decoration: none;
}

p {
  margin: 0;
  text-align: justify;
  padding: 1.5em 1.5em 0em 1.5em;
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

h3 {
  font: 2em "Sigmar One", cursive;
  color: #389C9C;
  font-weight: 100;
}

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #fec348;
}

a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #389C9C;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #389C9C;
}

abbr {
  border-bottom: none;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
  border: 3px solid #ce2027;
  margin: 1.5em;
  padding: 1.5em;
  min-width: 300px;
}

@media screen and (min-width: 900px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr 1fr;
  }
}
.intro {
  grid-row: 1/2;
  background-color: #f6e5a9;
  width: 100%;
}

.intro h1, h2 {
  text-align: center;
}

@media screen and (min-width: 900px) {
  .intro {
    grid-column: 1/4;
  }
}
header {
  background: url(images/star.svg) center no-repeat;
  background-color: #FBD659;
  background-size: 400px;
  background-position-x: center;
  background-position-y: top;
  display: grid;
  grid-template-rows: repeat(10, 40px);
  text-align: center;
  align-items: center;
  height: 400px;
}
header::before {
  background: url(images/Mariachi01.svg) center no-repeat;
  content: "";
  background-size: 117px;
  height: 250px;
  margin-top: 147px;
  margin-left: 33px;
  animation-name: mariachi;
  animation-duration: 1.75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
header h1 {
  grid-row: 6/7;
  font: 3em "Sigmar One", cursive;
  color: #204B4B;
  line-height: 1em;
  padding: 0px 0px;
  margin: 0px 30px;
  text-transform: uppercase;
}
header h2 {
  grid-row: 7;
  font-style: normal;
  font-size: 1.2em;
  text-transform: lowercase;
  color: #204B4B;
  line-height: 1.1em;
}

@keyframes mariachi {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media screen and (min-width: 900px) {
  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.summary {
  padding: 1em;
  background-color: #FBD659;
}

.summary p {
  font-size: 16px;
  text-align: center;
  color: #204B4B;
}
.summary p:nth-child(1) {
  font-size: 1.5rem;
  margin-top: -15px;
  padding: 10px;
}
.summary p:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 900;
  padding: 20px 50px;
}
.summary p:nth-child(2) a {
  color: #204B4B;
  display: inline-block;
  padding-top: 10px;
}
.summary p:nth-child(2) a::before {
  content: "";
  background: url(Images/avocado-01.svg) center no-repeat;
  display: block;
  height: 75px;
  background-size: 85px;
}

@media screen and (min-width: 900px) {
  .summary {
    grid-column: 2/4;
  }
}
.preamble {
  padding: 1em;
  margin: 1em 0;
  background: url(images/taco-01.svg) no-repeat;
  background-size: 310px;
  background-position-x: center;
  background-position-y: 7.5em;
}
.preamble h3 {
  height: 11em;
  text-align: center;
  line-height: 1.5em;
}
.preamble p {
  padding-bottom: 10px;
  font-size: 1.1em;
}

.supporting {
  grid-row: 2/3;
}

.explanation {
  padding: 1em;
  margin: 1em 0;
  background: url(images/tamales2.svg) no-repeat;
  background-size: 270px;
  background-position-x: center;
  background-position-y: 5em;
}
.explanation h3 {
  height: 11em;
  text-align: center;
  line-height: 1.5em;
}
.explanation p {
  padding-bottom: 10px;
  font-size: 1.1em;
}

.participation {
  padding: 1em;
  margin: 1em 0;
  background: url(images/fajitaswdrink1.svg) no-repeat;
  background-size: 250px;
  background-position-x: center;
  background-position-y: 6em;
}
.participation h3 {
  height: 11em;
  text-align: center;
  line-height: 1.5em;
}
.participation p {
  padding-bottom: 10px;
  font-size: 1.1em;
}

.benefits {
  padding: 1em;
  margin: 1em 0;
  background: url(images/quesadillas1_1.svg) no-repeat;
  background-size: 300px;
  background-position-x: center;
  background-position-y: 4em;
}
.benefits h3 {
  height: 11em;
  text-align: center;
  line-height: 1.5em;
}
.benefits p {
  padding-bottom: 10px;
  font-size: 1.1em;
}

.requirements {
  padding: 1em;
  margin: 1em 0;
  background: url(images/rice-01.svg) no-repeat;
  background-size: 300px;
  background-position-x: center;
  background-position-y: 4.5em;
}
.requirements h3 {
  height: 11em;
  text-align: center;
  line-height: 1.5em;
}
.requirements p {
  padding-bottom: 10px;
  font-size: 1.1em;
}

p[role=contentinfo] {
  background-color: #f6e5a9;
  text-decoration: none;
  color: #389C9C;
  font-size: 1.2rem;
  text-align: center;
}
p[role=contentinfo] a:link, p[role=contentinfo] a:active, p[role=contentinfo] a:visited {
  color: #389C9C;
}

footer {
  text-align: center;
  height: 50px;
  /*a:link, footer a:visited { 
    min-width: 50px;
    min-height: 50px;
    text-indent: -9999px;
  }*/
}
footer a {
  /*  padding: 25px;
    margin: 2px;
    line-height: 0;
    font-size: 0;
    border: 2px solid deeppink;*/
}
footer a:before {
  /*display: block;
     position: absolute;
     top: 3px;
     left: 0;*/
  overflow: hidden;
  font-size: 50px;
  text-indent: 0;
  font-family: "verdemoderna";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
footer a:hover {
  color: #ce2027;
}
footer a:hover .zen-validate-css:before {
  content: "#";
  color: #ce2027;
}
footer .zen-validate-html:before {
  content: "5";
}
footer .zen-validate-css:before {
  content: "3";
}

.zen-license:before {
  content: "c";
}

.zen-accessibility:before {
  content: "a";
}

.zen-github:before {
  content: "g";
}

.sidebar li {
  list-style-type: none;
}
.sidebar li a:link {
  color: #204B4B;
}
.sidebar li a:visited {
  color: #6f5940;
}

.sidebar {
  grid-row: 3/4;
  background-color: #ffffff;
  padding: 1em;
  margin-top: 30px;
}
.sidebar h3.resources {
  font-size: 1.5em;
  color: #ffffff;
  font-weight: 100;
}
.sidebar .zen-resources {
  background-color: #389C9C;
  color: #ffffff;
  text-align: center;
}
.sidebar .wrapper {
  margin-left: 0px;
}

.sidebar h3.select {
  text-align: center;
  font-weight: 100;
  font-size: 1.5em;
}

.sidebar h3.archives {
  text-align: center;
  font-weight: 100;
  font-size: 1.5em;
}

.extra1 {
  height: 100px;
  width: 100%;
  background: url(Images/cacti-01.svg) no-repeat;
  background-position-x: center;
  background-position-y: top;
}

/*# sourceMappingURL=style.css.map */
