@import url("https://fonts.googleapis.com/css?family=Montserrat|Sigmar+One&display=swap");
@font-face {
  font-family: "verdemoderna";
  src: url(text/verdemoderna.woff) format("woff");
}
html {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font: 100% "Montserrat", sans-serif;
  line-height: 1.88889;
  margin: 0;
  padding: 0;
  color: #204b4b;
  background-color: #f6e5a9;
  cursor: url("Images/chip1.svg"), auto;
}
body abbr[title] {
  text-decoration: none;
}

p {
  margin: 0;
  text-align: justify;
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

h3 {
  font: bold 2em "Sigmar One", cursive;
  color: #389c9c;
  font-weight: 100;
}

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #fec348;
}

a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #389c9c;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #389c9c;
  cursor: url("Images/chip.svg"), auto;
}

abbr {
  border-bottom: none;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 10px solid;
  border-image-source: url(Images/borderimage1.svg);
  border-image-slice: 110;
  border-image-width: 4;
  border-image-outset: 1;
  border-image-repeat: round;
  margin: 2em;
  padding: 2em;
  min-width: 300px;
}

@media screen and (min-width: 900px) {
  .page-wrapper {
    flex-direction: row;
    border-image-slice: 500;
    border-image-width: 6;
    border-image-outset: 1;
    padding: 3em;
  }
}
.intro {
  background-color: #f6e5a9;
  width: 100%;
  border: 1px solid deeppink;
}

.intro h1, h2 {
  text-align: center;
}

@media screen and (min-width: 900px) {
  .intro {
    grid-column: 1/4;
  }
}
header {
  background: url(Images/Star.svg) center no-repeat;
  background-color: #fbd659;
  background-size: 300px;
  background-position-x: center;
  background-position-y: top;
  text-align: center;
  align-items: center;
  height: 350px;
  padding-top: 15px;
}
header::before {
  background: url(Images/Mariachi.svg) center no-repeat;
  content: "";
  background-size: 117px;
  height: 180px;
  margin-left: 33px;
  animation-name: mariachi;
  animation-duration: 1.75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: block;
}
header h1 {
  font: 2.6em "Sigmar One", cursive;
  color: #204b4b;
  line-height: 1em;
  padding: 0;
  margin: 0px 30px;
  text-transform: uppercase;
}
header h2 {
  font-style: normal;
  font-size: 1.2em;
  text-transform: lowercase;
  color: #204b4b;
  line-height: 1.1em;
}

@keyframes mariachi {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.summary {
  padding: 1em;
  background-color: #fbd659;
}

.summary p {
  text-align: center;
}
.summary p:nth-child(1) {
  font-size: 1.2rem;
  margin-top: -15px;
  padding: 10px;
}
.summary p:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 900;
  padding: 25px 0;
}
.summary p:nth-child(2) a {
  color: #204b4b;
  display: inline-block;
  padding-top: 10px;
}
.summary p:nth-child(2) a::before {
  content: "\a";
  background: url(Images/Avocado.svg) center no-repeat;
  display: block;
  height: 75px;
  width: 56px;
  background-size: 75px;
  white-space: pre-line;
}

.preamble {
  padding: 1em;
  margin: 1em 0;
  background: url(images/Taco.svg) no-repeat;
  background-size: 310px;
  background-position-x: center;
  background-position-y: 7.5em;
}
.preamble h3 {
  height: 11em;
  text-align: center;
  line-height: 1.5em;
}
.preamble p {
  padding-bottom: 10px;
  font-size: 1.1em;
}

.explanation {
  padding: 1em;
  margin: 1em 0;
  background: url(images/Tamales.svg) no-repeat;
  background-size: 270px;
  background-position-x: center;
  background-position-y: 5em;
}
.explanation h3 {
  height: 11em;
  text-align: center;
  line-height: 1.5em;
}
.explanation p {
  padding-bottom: 10px;
  font-size: 1.1em;
}

.participation {
  padding: 1em;
  margin: 1em 0;
  background: url(images/Fajitaswdrink.svg) no-repeat;
  background-size: 250px;
  background-position-x: center;
  background-position-y: 6em;
}
.participation h3 {
  height: 11em;
  text-align: center;
  line-height: 1.5em;
}
.participation p {
  padding-bottom: 10px;
  font-size: 1.1em;
}

.benefits {
  padding: 1em;
  margin: 1em 0;
  background: url(images/Quesadillas.svg) no-repeat;
  background-size: 300px;
  background-position-x: center;
  background-position-y: 4em;
}
.benefits h3 {
  height: 11em;
  text-align: center;
  line-height: 1.5em;
}
.benefits p {
  padding-bottom: 10px;
  font-size: 1.1em;
}

@media screen and (min-width: 900px) {
  .supporting {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .supporting .explanation,
.supporting .participation,
.supporting .benefits,
.supporting .requirements {
    width: 50%;
  }
}
.requirements {
  padding: 1em;
  margin: 1em 0;
  background: url(images/Rice.svg) no-repeat;
  background-size: 300px;
  background-position-x: center;
  background-position-y: 4.5em;
}
.requirements h3 {
  height: 11em;
  text-align: center;
  line-height: 1.5em;
}
.requirements p {
  padding-bottom: 10px;
  font-size: 1.1em;
}

p[role=contentinfo] {
  text-decoration: none;
  color: #389c9c;
  font-size: 1.2rem;
  text-align: center;
}
p[role=contentinfo] a:link, p[role=contentinfo] a:active, p[role=contentinfo] a:visited {
  color: #389c9c;
}

footer {
  text-align: center;
  height: 50px;
}
footer a:link {
  padding: 25px;
  margin: 2px;
  line-height: 0;
  font-size: 0;
  display: inline-block;
  color: #204b4b;
}
footer a:before {
  display: block;
  position: absolute;
  overflow: hidden;
  font-size: 50px;
  text-indent: 0;
  font-family: "verdemoderna";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-top: -40px;
  margin-left: -20px;
  -webkit-font-smoothing: antialiased;
}
footer a:hover {
  color: #ce2027;
  /*.zen-validate-css:before  {
     content:"#";
  }*/
}
footer .zen-validate-html:before {
  content: "5";
}
footer .zen-validate-css:before {
  content: "3";
}
footer .zen-license:before {
  content: "c";
}
footer .zen-accessibility:before {
  content: "a";
}
footer .zen-github:before {
  content: "g";
}

.sidebar li {
  list-style-type: none;
  margin-left: -30px;
  font-size: 0.9em;
  text-align: center;
}
.sidebar li a:link {
  color: #ffffff;
  font-weight: 100;
}
.sidebar li a:hover {
  color: #ce2027;
}
.sidebar li a:visited {
  color: #204b4b;
}

.sidebar h3 {
  color: #204b4b;
  font-weight: 100;
  font-size: 1em;
  text-align: center;
}

.sidebar {
  background-color: #c1db74;
  padding: 1em;
}
.sidebar h3.resources {
  line-height: 0;
  font-size: 0;
}
.sidebar .zen-resources {
  background-color: #389c9c;
  color: #389c9c;
  text-align: center;
  padding: 10px;
}
.sidebar .wrapper {
  margin-left: 0px;
}

@media screen and (min-width: 900px) {
  .sidebar .wrapper {
    width: 300px;
  }

  .sidebar {
    height: 800px;
  }
}
.extra2 {
  height: 30vh;
  width: 109%;
  margin-top: -180px;
  background: url(Images/cactibg.svg) no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  position: absolute;
  z-index: 2;
}

@media screen and (min-width: 900px) {
  .extra2 {
    width: 109%;
    height: 63vh;
    margin-top: -260px;
    background: url(Images/cactibg.svg) no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    position: absolute;
    z-index: 100;
  }
}

/*# sourceMappingURL=style.css.map */
