// color palette - these colors will be the color swatches of the Colors section

$color-1: #f6e5a9; // sand
$color-2: #fec348; // gold
$color-3: #c1db74; // lime green
$color-4: #6cbc99; // blue green
$color-5: #ce2027; // red
$color-6: #ffffff; // white
$color-7: #6f5940; //brown


// additional colors

$success: $color-4; // blue green
$alert: $color-3; // lime green

// fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Sigmar One', cursive;